.clearfix {
  min-height: 100vh;
}

/* navbar */

.navbar-wrapper {
  color: var(--main-blue-color);
  padding: 3rem 2rem;
}

.navbar {
  display: grid;
  grid-template-columns: 36px 1fr;
  grid-template-rows: 36px;
}

.nav-wrapper {
  padding-left: 66px;
  display: flex;
  justify-content: flex-end;
}

.nav-wrapper ul {
  width: 100%;
  max-width: 276px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* intro */

.intro-wrapper {
  padding: 3rem 2rem;
}

.intro-text {
  color: var(--main-blue-color);
}

.intro-text h1 {
  display: inline;
  font-family: 'Playfair Display', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 4.75rem;
  font-weight: 800;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .intro-text h1 {
    font-size: 4rem;
  }
}

/* about */

.about-wrapper {
  padding: 3rem 2rem;
}

.about {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.about p {
  grid-area: 1 / 4 / 1 / 7;
  padding-top: 10vh;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--main-blue-color);
}

@media screen and (max-width: 768px) {
  .about p {
    grid-area: 1 / 2 / 1 / 7;
  }
}

/* footer */

.footer-wrapper {
  background: var(--main-blue-color);
  padding: 3rem 2rem;
  color: white;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 3rem;
}

.footer-directory {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .footer-directory {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

ul.footer-nav-content {
  margin: 12px;
  margin-left: 24px;
  padding: 0;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style-type: none;
}

li.footer-nav-item {
  box-sizing: inherit;
  display: list-item;
  text-align: -webkit-match-parent;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.625em;
  margin: 6px 0 0 0;
}

/* li.footer-nav-item::before {
  content: '–';
  display: none;
  color: #d0c3ba;
  position: absolute;
  margin-left: -15px;
} */

li.footer-nav-item:active {
  color: #fff1e6;
}

li.footer-nav-item:hover {
  color: #fff1e6;
}

.footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 3rem;
}

@media screen and (max-width: 768px) {
  .footer-info {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

.footer-tagline {
  display: grid;
  /* color: rgb(208, 195, 186); */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.footer-organization {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer-organization {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.footer-organization-logo {
  display: flex;
}

.footer-organization-logo svg {
  width: 24px;
  height: 24px;
  fill: white;
}

@media screen and (max-width: 768px) {
  .footer-organization-logo svg {
    width: 48px;
    height: 48px;
  }
}

.footer-organization-name {
  padding: 0 0 0 10px;
}

@media screen and (max-width: 768px) {
  .footer-organization-name {
    padding: 1em 0 0 0;
  }
}

.footer-copyright span {
  font-feature-settings: "rlig" 1,"calt" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  font-size: 14px;
  font-weight: 300;
  order: 2;
  flex-basis: 100%;
  margin-top: 24px;
}

@media screen and (max-width: 768px) {
  .footer-copyright {
    text-align: center;
  }
}